@charset "utf-8";
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Review Assignment
   
   Author:   Matt Parisano
   Date:     10/11/2024
      
   Filename: tf_styles4.css

   This file contains the screen styles used with the Trusted
   Friends blog tips

*/


/* Import Basic Design Styles Used on All Screens */

@import url("./tf_designs.css");



/* General Flex Styles */

body {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;
}

section#left {
   flex: 1 8 130;
}

section#right {
   flex: 8 1 351;
}

section.tips article, section.tips aside {
   display: flex;
   display: -webkit-flex;
   flex-direction: column;
}

section.tips {
   display: -webkit-flex;
   display: flex;

   -webkit-flex:row wrap;
   flex-direction: row;
   flex-wrap: row;
}

article {
   flex: 2 1 351;
}

aside {
   display: -webkit-flex;
   display: flex;

   -webkit-flex: row wrap;
   flex: 1 2 250;
}

.horizontal ul {
   display: -webkit-flex;
   display:flex;
   flex-direction: column;
   flex-wrap: wrap;
}

/* ===============================
   Mobile Devices: 0 to 480px 
   ===============================
*/
@media only screen and (max-width: 480px) {

}



/* ============================================
	Tablet and Desktop Devices: 481px or more 
   ============================================
*/
@media only screen and (min-width:481px) {
   
}

